<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <form method='POST' action='datainsert'>
        {%csrf_token%}
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="address" id="" placeholder="Address">
        <input type="text" name="number" placeholder="mobilephone">
        <input type="email" name="email" placeholder="email">
        <input type="submit" value="submit">
    </form>
</body>
</html>