<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c330d3c861.js"
      crossorigin="anonymous"
    ></script>
    
  </head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
      <div class="col-6">
        <div class="card card-register mt-5 p-5">
<center>
          <h2 style="color:rgb(10, 108, 153);" class=" p-2">LOGIN</h2></center>
          <div class="p-2 justify-content-inbetween">
            <form  method="POST">
              {%csrf_token%}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-envelope"></i
                  ></span>
                </div>
                <input type="text" class="form-control"  placeholder="username" name="user" />
              </div>

              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fas fa-lock"></i
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="pass"
                />
              </div>

                <div class=" mt-1">
                  <a href="#" class="text-decoration-none text-dark "
                    >Forget password</a
                  >&nbsp
                </div>
              </div>
              <div class="text-center col-12 p-3">
                <input type="submit" class="btn btn-block btn-success" value="Sign in" />&nbsp&nbsp
              </div>
              <div class="text-center col-12">
                <a href="/login/register" class="btn btn-block btn-primary" >Sign Up</a>&nbsp
              </div>
              <br />
            </form>
            {%for message in messages%}
            <p class="text-danger"><b>{{ message}}</b></p>
            {%endfor%}
           
            
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <footer class="bg-dark mt-5 p-4">
      <div>
        <a href="/login/Affiliate" class="text-danger" >Affiliate register</a><br>
        <a href="/login/Seller" class="float-left">Seller register</a><br>
        <a href="/login/register" class=" text-primary float-left"> Customer register</a><br>
        <a href="/login/home" class=" text-primary float-left" >About us</a>
        <footer>
      </div>
    </footer>
  </body>
</html>
