<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c330d3c861.js"
      crossorigin="anonymous"
    ></script>
    <style>
        body{
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQknhfLTGLFN3EAdlb0ryfWzCBvOtzse-BK4w&usqp=CAU);
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        p{
            color:blue;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="mt-5">
        <h1 style="color: brown;">Successfully logined in</h1></div>
    <div class="p-2">
   
    <p>Welcome <span class="text-dark" style="font-weight: bold;">{{name}}</span></p>
    <p>Date and Time:<span class="text-dark" style="font-weight: bold;">{{x}}</span></p>
</div>
</div>
</body>
</html>