<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display</title>
  </head>
  <body>
    <table cellpadding="10" cellspacing="10">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Mobile</th>
      </tr>
      {% for i in res%}
      <tr>
          <td>{{i.name}}</td>
          <td>{{i.email}}</td>
          <td>{{i.address}}</td>
          <td>{{i.number}}</td>
          <td><a href="update/{{i.id}}">Update</a></td>
          <td><a href="delete/{{i.id}}">delete</a></td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
