<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <form method='POST' action='dataupdate/{{res.id}}'>
       
        <input type="hidden" name="id" value="{{res.id}}">
        {%csrf_token%}
        <input type="text" name="name" value={{res.name}} placeholder="Name">
        <input type="text" name="address" id="" value={{res.address}} placeholder="Address">
        <input type="text" name="mob" value={{res.number}} placeholder="mobilephone">
        <input type="email" name="email" value={{res.email}} placeholder="email">
        <input type="submit" value="submit">
    </form>
</body>
</html>