{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c330d3c861.js" crossorigin="anonymous"></script>
    <style>
       
      @media screen and (min-width: 1200px) {
     body{
        font-family: 'Josefin Sans', sans-serif;
        background-image: url("{% static 'enquiry.jpg' %}");
        background-size: 50%;
        background-repeat: repeat;
       
      }}
      .img-fluid{
        align-items: center;
      }
   
      </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
           <div class="col-12 col-md-6 mt-3" id="bgImg">
           
           </div>
           <div class="col-12 col-md-6 ">
               
           
           <div class="card card-register mt-5">
               <div class="card-body">
               <h2 style="color:blueviolet" class="text-center p-4" >Todo <i class="fas fa-question-circle text-dark"></i></h2>
               
           <form action="{% url 'todo' %}" method="POST">
            {%csrf_token%}
           <!-- Text input for username-->
            
         <div class="input-group mb-3">
               
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-user"></i></span>
           </div>
           <input type="text" class="form-control" placeholder="Taskname" name="taskname" required="required">
       </div><br><br>
          <div>
              <label>Status</label>
             <select name="status"> 
                 <option value="pending" >pending</option>
                 <option value="completed" >completd</option>
                 <option value="progress" >progress</option>

             </select>
          </div><br>
           
           <div>
            <input type="text" name="desc" placeholder="description">
        </div><br><br>
       
            <div>
              <input type="submit" class="btn btn-block btn-info ">&nbsp;
            </div><br>
            
        </div>
        </form>
        <center>
          <div>
            <a type="button" class="btn btn-primary" href="{% url 'home' %}">Your Tasks</a>
          </div>
        </center><br>
        </div>   
    </div>

  </body>