{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c330d3c861.js" crossorigin="anonymous"></script>
    <style>
       
      @media screen and (min-width: 1200px) {
     body{
        font-family: 'Josefin Sans', sans-serif;
        background-image: url("");
        background-size: 50%;
        background-repeat: repeat;
       
      }}
     
   
      </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
           <div class="col-12 col-md-6 mt-3" id="bgImg">
           
           </div>
           <div class="col-12 col-md-6 ">
               
           
           <div class="card card-register mt-5">
               <div class="card-body">
               <h2 style="color:blueviolet" class="text-center p-4" >Todo <i class="fas fa-question-circle text-dark"></i></h2>
               
           <form action="{% url 'update' res.id %}" method="POST">
            {%csrf_token%}
            <input type="hidden" name="id" value="{{res.id}}">
           <!-- Text input for username-->
            
         <div>
          <label>Taskname</label>
           <input type="text" class="form-control" placeholder="Taskname" name="taskname" value="{{res.task}}" required="required">
       </div>
          <div>
              <label>Status</label>
             <select name="status" class="form-control" value="{{res.status}}"> 
                 <option value="pending" >pending</option>
                 <option value="completed" >completed</option>
                 <option value="progress" >progress</option>

             </select>
          </div>
          
           <div>
             <label>description</label>
            <input type="text" name="desc" placeholder="description"  class="form-control"   value="{{res.desc}}">
           </div>
            <div class="p-2">
              <center>
              <input type="submit" class="btn  btn-info float-left">&nbsp;
              <a href="{% url 'home' %}" type=button class="btn btn-dark float-right">Cancel</a></div>
            </div><br>
          </center>
        </div>
        </form>
        </div>   
    </div>

  </body>